<h1>The Gossip Project</h1>

<div>
    <p>Bonjour </p>
    <p>Voici la liste des Potins</p>
 <div class="card-deck">
<%= Gossip.all.each do |gossip| %>
  <div class="col-lg-3 col-md-6 mb-3">
    <div class="card text-left my-3">
      <div class="card-body">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/z/bavardage-de-femmes-d-art-bruit-avec-la-bulle-pens%C3%A9e-publicit%C3%A9-l-affiche-116700619.jpg" alt="Card image cap">
        <h5 class="card-title text-info">Gossip n° <%= gossip.id %></h5>
        <h5 class="card-title text-secondary"> Title : <%= gossip.title%></h5>
        <p class="card-text"> Author: <%= gossip.user.first_name %> </p>
      </div>
    </div>
  </div>
<% end %>
</div> 